

<style>
    #box1 {
        border: 1px black solid;
        width: 300px;
        height: 100px;
        background: #333;
        color: #fff;
        text-align: center;
    }
</style>

<div class="container">
    <button id="btnFadeOut">Fade Out</button>
    <button id="btnFadeIn">Fade In</button>
    <button id="btnFadeToggle">Toggle</button>
    <hr />
    <button id="btnSlideUp">Slide Up</button>
    <button id="btnSlideDown">Slide Down</button>
    <button id="btnSlideToggle">Slide Toggle</button>
    <hr />
    <button id="btnAnimateOut">Animate Out</button>
    <button id="btnAnimateIn">Animate In</button>
    <hr />
    <div id="box1">
        Hello World
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#btnFadeOut').click(function () {
            $('#box1').fadeOut();
        });
        $('#btnFadeIn').click(function () {
            $('#box1').fadeIn();
        });
        $('#btnFadeToggle').click(function () {
            $('#box1').fadeToggle(100);
        });

        $('#btnSlideUp').click(function () {
            $('#box1').slideUp();
        });
        $('#btnSlideDown').click(function () {
            $('#box1').slideDown();
        });
        $('#btnSlideToggle').click(function () {
            $('#box1').slideToggle(50);
        });
        $('#btnAnimateOut').click(function () {
            $('#box1').animate({
                height: 0,
                opacity: 0
            });
        });
        $('#btnAnimateIn').click(function () {
            $('#box1').animate({
                height: 100,
                opacity: 1.0
            });
        });

    });
</script>







